@using DoAn_LapTrinhWeb.Common.Helpers
<!-- Start Header Area -->
<script>
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--black section-fluid sticky-header ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/Images/logo/tnshop.png" />
                                </a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--white menu-hover-color--golden">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active main-menu-link" href="@Url.Action("Index","Home")">Trang Chủ</a>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="@Url.Action("Giaynam","Products")">
                                            Giày Nam
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("SNEAKER","Products")">Sneaker</a></li>
                                            <li><a href="@Url.Action("GIAYLUOI","Products")">Giày lười </a></li>
                                            <li><a href="@Url.Action("GIAYTAY","Products")">Giày tây</a></li>

                                        </ul>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="@Url.Action("Giaynu","Products")">Giày Nữ</a>
                                        <ul class="sub-menu">

                                            <li><a href="@Url.Action("GIAYCAOGOT","Products")">Giày cao gót</a></li>
                                            <li><a href="@Url.Action("SNEAKERFEMALE","Products")">Sneaker</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Accessories","Products")">Phụ kiện</a>
                                    </li>

                                    @*<li>
                                            <a href="https://www.facebook.com/nhatbanpcgaming/?ref=page_internal">Tin tức</a>
                                        </li>*@
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.Identity.GetRole() != 1)
                                        {
                                            <li>
                                                <a href="@Url.Action("DashBoards","Admin")">Quản trị</a>
                                            </li>
                                        }
                                        else
                                        {
                                            @*<li>
                                                    <a href="https://www.facebook.com/nhatbanpcgaming/?ref=page_internal">Liên Hệ</a>
                                                </li>*@
                                        }
                                        <li class="has-dropdown has-megaitem">
                                            <a href="@Url.Action("EditProfile","Account")">@User.Identity.GetName()</a>
                                            <ul class="sub-menu">
                                                <li><a href="@Url.Action("TrackingOrder","Account")">Lịch sử mua hàng</a></li>
                                                <li><a href="@Url.Action("Address","Account")">Địa chỉ nhận hàng</a></li>
                                                <li><a href="@Url.Action("ChangePassword","Account")">Đổi mật khẩu</a></li>
                                                <li><a href="@Url.Action("LogOut","Account")">Đăng xuất</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        @*<li>
                                                <a href="https://www.facebook.com/nhatbanpcgaming/?ref=page_internal">Liên Hệ</a>
                                            </li>*@
                                        <li class="has-dropdown has-megaitem">
                                            <a href="@Url.Action("Login","Account")">Đăng nhập</a>
                                            <ul class="sub-menu">
                                                <li><a href="@Url.Action("Register","Account")">Đăng ký</a></li>
                                                <li><a href="@Url.Action("ForgotPassword","Account")">Quên mật khẩu</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->
                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--white action-hover-color--golden">
                            <li>
                                <a href="@Url.Action("ViewCart","Cart")">
                                    <i class="icon-bag"></i>
                                    <span class="itemCart lblCountCart"></span>
                                </a>
                            </li>
                            <li>                               
                                    <form action="@Url.Action("SearchResult", "Products")" style="margin-right: 10px; display: flex">
                                        <input autocomplete="off" name="s" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm"/>
                                        <button type="submit" class="icon-magnifier" style="color: #fff;"></button>
                                    </form>                              
                            </li>                            
                        </ul>                                               
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header Area -->
<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--yellow section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="index.html">
                                <div class="logo">
                                    <img src="~/Images/logo/logo_black.png" style="object-fit: cover; width: 55px;" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->
                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <li>
                            <a href="@Url.Action("ViewCart","Cart")">
                                <i class="icon-bag"></i>
                            </a>
                        </li>                      
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->
@section scripts{
    <script src="~/Scripts/UserJS/cart.js"></script>
}