@using DoAn_LapTrinhWeb.Common.Helpers
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta property="og:type" content="article" />
    <meta property="og:image:height" content="500px" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="~/Content/Images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/Content/UserCSS/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/Content/UserCSS/plugins/plugins.min.css" />
    <link href="~/Content/UserCSS/style.css" rel="stylesheet" />
    <!-- Google Fonts Roboto -->
    <!-- Font Awesome CDN -->
    <script src="https://use.fontawesome.com/576ffb49bd.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/643f455d31ebfa0fe7f92142/1gubidtp4';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>

<body>
    @Html.Partial("Header_Layout")
    @RenderBody()
    @Html.Partial("_MessageAlert")        
    @Html.Partial("Footer_Layout")
        
    
    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/UserJS/vendor/vendor.min.js"></script>
    <script src="~/Scripts/UserJS/plugins/plugins.min.js"></script>
    <script src="~/Scripts/UserJS/cookie.js"></script>
    <script src="~/Scripts/UserJS/common.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Latest compiled JavaScript -->
    <!-- Main JS -->
    <script src="~/Scripts/UserJS/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

